services:
  roscore:
    image: ctumrs/ros_noetic:2025-06-02
    container_name: roscore
    environment:
      - ROS_MASTER_URI=http://localhost:11311
      - ROS_IP=172.26.13.121
      # - ROS_IP=192.168.1.7
      # - ROS_IP=192.168.1.12
      - ROS_RUN_ID=12345678-1234-1234-1234-123456789abc
    command: /bin/bash -c "source /opt/ros/noetic/setup.bash && export RUN_ID=$ROS_RUN_ID && roscore"

    network_mode: host
    stdin_open: true
    tty: true

  planner:
    image: qqyang/ros_noetic_planner:latest
    container_name: planner
    working_dir: /root/planner_ws
    depends_on:
      - roscore
    volumes:
      - /home/cerlab/ros_noetic_docker_spot/planner_ws/:/root/planner_ws/:rw
      - /home/cerlab/.ros/log/:/root/.ros/log/:rw
      - /home/cerlab/bags:/root/bags:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: /bin/bash -c "
        source /opt/ros/noetic/setup.bash &&
        export RUN_ID=$ROS_RUN_ID &&
        cd ~/planner_ws && 
        catkin_make && 
        source devel/setup.bash &&
        rosrun lidar_cam_calibrater register_node"
    environment:
      - ROS_RUN_ID=12345678-1234-1234-1234-123456789abc
      - ROS_MASTER_URI=http://localhost:11311
      - ROS_IP=172.26.13.121
      # - ROS_IP=192.168.1.7
      # - ROS_IP=192.168.1.12
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_DRIVER_CAPABILITIES=all
    network_mode: host
    stdin_open: true
    tty: true
    privileged: true
    
  ouster_lidar:
      image: qqyang/ros_noetic_ouster_li_init:latest
      container_name: ouster_lio
      command: /bin/bash -c "source /opt/ros/noetic/setup.bash && 
              source /root/livox_ws/devel/setup.bash &&
              cd /root/catkin_ws && catkin_make -DCMAKE_BUILD_TYPE=Release && export RUN_ID=$ROS_RUN_ID &&
              source devel/setup.bash && 
              curl -4 -I http://169.254.31.25/api/v1/sensor/metadata/lidar_intrinsics && 
              roslaunch ouster_ros driver.launch sensor_hostname:=169.254.31.25 lidar_mode:=1024x10 timestamp_mode:=TIME_FROM_ROS_TIME lidar_port:=7502 imu_port:=7503"
      depends_on:
        - roscore
      environment:
        - ROS_MASTER_URI=http://localhost:11311
        - ROS_IP=172.26.13.121
        # - ROS_IP=192.168.1.7
        # - ROS_IP=172.17.0.1
        # - ROS_IP=192.168.1.12
        - ROS_RUN_ID=12345678-1234-1234-1234-123456789abc
      volumes:
        - /home/cerlab/ros_noetic_docker_spot/ouster_ws/:/root/catkin_ws/:rw
      network_mode: host
      extra_hosts:
        - "os-122412000058.local:169.254.31.25"  # IPv4 address of the Lidar: This is necessary for ping the ouster hostname
      devices:
        - /dev/dri/card1:/dev/dri/card0
        - /dev/nvidia0:/dev/nvidia0
        - /dev/nvidiactl:/dev/nvidiactl
        - /dev/nvidia-uvm:/dev/nvidia-uvm
      ports:
        - "7502:7502/udp"
        - "7503:7503/udp"
      stdin_open: true
      tty: true

  spot_image_sam:
    image: qqyang/ros_noetic_spot_sam2:latest
    container_name: spot_sam
    command: /bin/bash -c "
          source /opt/ros/noetic/setup.bash &&
          export RUN_ID=$ROS_RUN_ID &&
          python3 /root/spot_ws/src/spot/src/spot/estop_nogui.py"
          
    runtime: nvidia
    depends_on:
      - roscore
    
    environment:
      # ROS Multi-Machines
      # - ROS_MASTER_URI=http://192.168.1.12:11311
      # - ROS_IP=192.168.1.12
      # run without master computer
      - ROS_MASTER_URI=http://localhost:11311
      # - ROS_IP=192.168.1.12
      # - ROS_IP=192.168.1.7
      - ROS_IP=172.26.13.121
      - DISPLAY=${DISPLAY}
      - XDG_RUNTIME_DIR=/tmp/runtime-root
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - QT_X11_NO_MITSHM=1
      - BOSDYN_CLIENT_USERNAME=user
      - BOSDYN_CLIENT_PASSWORD=scgau6g5w987
      # - SPOT_HOSTNAME=192.168.80.3
      - SPOT_HOSTNAME=10.0.0.3
      - TERM=xterm
      - ROS_RUN_ID=12345678-1234-1234-1234-123456789abc
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /home/cerlab/ros_noetic_docker_spot/spot_ws/:/root/spot_ws/:rw
      - /home/${USER}/repos:/home/${USER}/repos
    devices:
      - "/dev/bus/usb:/dev/bus/usb"
    network_mode: host
    privileged: true
    stdin_open: true
    tty: true
